In [1]:
# this is to demonstrate a simple import statement

import pandas as pd

In [2]:
# Reading a CSV file

df = pd.read_csv("../loan.csv")
df.head()

C:\Users\user\AppData\Local\Temp\ipykernel_23488\1785371640.py:3: DtypeWarning: Columns (19,55) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("../loan.csv")

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,total_bal_il,il_util,open_rv_12m,open_rv_24m,max_bal_bc,all_util,total_rev_hi_lim,inq_fi,total_cu_tl,inq_last_12m
0,1077501,1296599,5000,5000,4975.0,36 months,10.65,162.87,B,B2,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1077430,1314167,2500,2500,2500.0,60 months,15.27,59.83,C,C4,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1077175,1313524,2400,2400,2400.0,36 months,15.96,84.33,C,C5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1076863,1277178,10000,10000,10000.0,36 months,13.49,339.31,C,C1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1075358,1311748,3000,3000,3000.0,60 months,12.69,67.79,B,B5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
selected_columns = [
    "loan_amnt", "member_id", "funded_amnt", "funded_amnt_inv", "term",
    "int_rate", "installment", "emp_length", "home_ownership", "verification_status",
    "pymnt_plan", "purpose", "addr_state", "dti", "delinq_2yrs",
    "earliest_cr_line", "open_acc", "pub_rec", "total_acc",
    "out_prncp", "total_rec_int", "total_rec_late_fee", "last_pymnt_d",
    "application_type", "annual_inc_joint", "acc_now_delinq", "tot_coll_amt",
    "tot_cur_bal", "open_acc_6m", "total_bal_il", "loan_status"
]

df = df[selected_columns]

df.head()

,loan_amnt,member_id,funded_amnt,funded_amnt_inv,term,int_rate,installment,emp_length,home_ownership,verification_status,...,total_rec_late_fee,last_pymnt_d,application_type,annual_inc_joint,acc_now_delinq,tot_coll_amt,tot_cur_bal,open_acc_6m,total_bal_il,loan_status
0,5000,1296599,5000,4975.0,36 months,10.65,162.87,10+ years,RENT,Verified,...,0.00,Jan-15,INDIVIDUAL,NaN,0.0,NaN,NaN,NaN,NaN,Fully Paid
1,2500,1314167,2500,2500.0,60 months,15.27,59.83,< 1 year,RENT,Source Verified,...,0.00,Apr-13,INDIVIDUAL,NaN,0.0,NaN,NaN,NaN,NaN,Charged Off
2,2400,1313524,2400,2400.0,36 months,15.96,84.33,10+ years,RENT,Not Verified,...,0.00,Jun-14,INDIVIDUAL,NaN,0.0,NaN,NaN,NaN,NaN,Fully Paid
3,10000,1277178,10000,10000.0,36 months,13.49,339.31,10+ years,RENT,Source Verified,...,16.97,Jan-15,INDIVIDUAL,NaN,0.0,NaN,NaN,NaN,NaN,Fully Paid
4,3000,1311748,3000,3000.0,60 months,12.69,67.79,1 year,RENT,Source Verified,...,0.00,Jan-16,INDIVIDUAL,NaN,0.0,NaN,NaN,NaN,NaN,Current

In [4]:
# Fill missing 'annual_inc_joint' with 0 for individual applicants
df.loc[df['application_type'] == 'INDIVIDUAL', 'annual_inc_joint'] = df.loc[
    df['application_type'] == 'INDIVIDUAL', 'annual_inc_joint'
].fillna(0)

df['annual_inc_joint'].unique()

array([     0.  ,  71000.  , 100000.  ,  77000.  , 117000.  ,  94348.32,
       113314.  ,  61366.44, 192000.  ,  49748.  ,  72000.  ,  74684.  ,
        92000.  , 120000.  ,  65000.  ,  70000.  , 425000.  , 140000.  ,
        83000.  ,  87000.  , 340000.  , 152000.  ,  84000.  , 102000.  ,
       108000.  , 227000.  , 182000.  , 110486.  ,  88000.  ,  95000.  ,
       137303.  , 122000.  , 179000.  ,  86000.  , 107000.  ,  98000.  ,
       128000.  , 112900.  ,  64748.  ,  82000.  , 133000.  , 130000.  ,
        89000.  , 162000.  , 111000.  , 118000.  ,  49000.  , 150000.  ,
       132000.  ,  80000.  ,  62151.  , 175000.  ,  44600.  ,  96300.  ,
       107240.  ,  91000.  ,  58800.  , 165000.  ,  51000.  , 185000.  ,
       156500.  ,  85000.  , 117492.  ,  44500.  ,  93000.  ,  68712.  ,
       112194.  , 115000.  ,  93450.  ,  76000.  ,  74000.  , 144000.  ,
       106400.  ,  70308.  ,  83200.  , 103561.8 ,  90000.  , 123000.  ,
       148898.  ,  72356.  ,  76201.  ,  55000.  , 141000.  , 103000.  ,
       208000.  ,  81000.  , 177000.  ,  62000.  ,  96000.  , 166000.  ,
        94000.  ,  54696.  , 183000.  , 224000.  , 106000.  , 146000.  ,
        58000.  ,  52000.  , 112000.  , 110000.  , 161200.  ,  88500.  ,
       145000.  , 132600.  ,  28000.  , 500000.  , 104000.  , 149000.  ,
        72239.  ,  84700.  , 125200.  , 182407.  ,  85500.  ,  78200.  ,
       139198.01,  70500.  ,  73000.  ,  66600.  ,  78000.  , 260000.  ,
       146500.  , 105000.  , 107700.  , 176000.  ,  40034.  ,  66098.  ,
        44796.  ,  96850.  ,  52879.  ,  99000.  , 161000.  , 155000.  ,
       121000.  ,  69930.  ,  52640.  ,  97000.  ,  83456.  , 131000.  ,
       167731.  , 109000.  , 214000.  ,  59952.  , 136429.  , 270000.  ,
        44000.  , 134700.  , 151000.  , 116000.  , 215000.  ,  56000.  ,
        55200.  ,  89600.  ,  50064.  ,  49322.  , 113500.  , 170000.  ,
       154650.  , 126000.  , 195000.  , 189729.  ,  63695.  ,  82300.  ,
        36000.  , 100487.  ,  51990.  ,  64500.  ,  54000.  , 198000.  ,
        75200.  ,  37000.  , 148000.  , 162796.  ,  56700.  ,  89556.  ,
        41976.  ,  35820.  ,  73500.  , 210000.  , 109440.  ,  84740.  ,
       114000.  , 138000.  ,  64000.  ,  52800.  ,  81120.  , 102800.  ,
       116700.  , 111805.  , 104800.  , 125000.  , 213500.  ,  87552.  ,
       113000.  ,  46000.  ,  51750.  , 139000.  ,  63400.  , 239181.24,
       109500.  , 142518.  , 124500.  , 101000.  ,  49926.  , 134000.  ,
        57184.  , 140505.  , 166120.  , 113950.  ,  62200.  , 109720.  ,
       148800.  , 105365.44,  73220.  , 139753.  ,  53000.  , 124000.  ,
        82841.  ,  74038.64,  75001.  ,  40988.  ,  59000.  ,  50000.  ,
       103500.  ,  81329.  ,  25142.  ,  58750.  ,  91465.  ,  84524.04,
       147000.  ,  46122.  ,  68000.  , 245000.  ,  69500.  , 154000.  ,
       137400.  ,  63000.  , 141200.  , 150296.8 , 123400.  ,  77600.  ,
       101771.  , 119500.  , 201750.  ,  73036.  , 191300.  , 135360.  ,
       221000.  ,  46600.  , 115832.  , 106192.  , 178000.  , 126934.16,
        61465.  , 135000.  ,  71136.  , 142000.  , 157000.  ,  75000.  ,
        32760.  , 168472.  ,  61000.  , 139694.26, 161500.  ,  41544.  ,
        45000.  ,  84032.  , 188000.  , 202700.  , 100350.  , 190000.  ,
        88400.  ,  78816.  ,  17950.  ,  40500.  ,  66928.  , 101318.  ,
        67000.  , 213000.  ,  73588.41, 109800.  , 375000.  ,  72653.  ,
       127000.  , 179160.  ,  80748.72,  64800.  , 106892.  , 118500.  ,
       189490.  ,  46700.  , 133545.  ,  18480.  , 169000.  ,  85654.  ,
       126404.  ,  27600.  , 114148.  , 132520.  ,  29448.  , 410000.  ,
       175171.  ,  85547.64,  76065.  ,  57000.  , 116201.  ,  48276.  ,
       111140.  ,  39000.  ,  88596.  ])

In [5]:
# Convert 'term' from string to integer
df['term'] = df['term'].str.replace(' months', '').astype(int)
df['term'].unique()

array([36, 60])

In [6]:
# Step 1: Replace special cases, leave NaN untouched
df['emp_length'] = df['emp_length'].replace({
    '< 1 year': 0,
    '10+ years': 10
})

# Step 2: Remove ' years' or ' year' from remaining strings
# Only affects strings, numeric values are untouched
df['emp_length'] = df['emp_length'].astype(str).str.replace(' years', '').str.replace(' year', '')

# Step 3: Convert everything to numeric, coercing non-convertible to NaN
df['emp_length'] = pd.to_numeric(df['emp_length'], errors='coerce')

df['emp_length'].unique()

array([10.,  0.,  1.,  3.,  8.,  9.,  4.,  5.,  6.,  2.,  7., nan])

In [7]:
# Convert columns to numeric automatically
# For consistency, use lower cases and convert any to other

# Convert all values to lowercase
df['home_ownership'] = df['home_ownership'].str.lower()

# Replace 'any' with 'other'
df['home_ownership'] = df['home_ownership'].replace({
    'any': 'other'
})

df['home_ownership'], _ = pd.factorize(df['home_ownership'])

# For payment plan
df['pymnt_plan'] = df['pymnt_plan'].replace({
    'n' : 0,
    'y' : 1
})

# For purpose
df['purpose'], _ = pd.factorize(df['purpose'])


# For address state
df['addr_state'], _ = pd.factorize(df['addr_state'])

df[['home_ownership','pymnt_plan','purpose','addr_state']].head()

C:\Users\user\AppData\Local\Temp\ipykernel_23488\961002625.py:15: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['pymnt_plan'] = df['pymnt_plan'].replace({

   home_ownership  pymnt_plan  purpose  addr_state
0               0           0        0           0
1               0           0        1           1
2               0           0        2           2
3               0           0        3           3
4               0           0        3           4

In [8]:
# Binary Conversions
df['verification_status'] = df['verification_status'].replace({
    'Not Verified': 0,
    'Verified': 1,
    'Source Verified': 1   #Who verified does not really matter per online research
})



# For application type
df['application_type'] = df['application_type'].str.lower()

df['application_type'] = df['application_type'].replace({
    'individual' : 0,
    'joint' : 1
})
df[['verification_status','application_type']].head()

C:\Users\user\AppData\Local\Temp\ipykernel_23488\2869010958.py:2: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['verification_status'] = df['verification_status'].replace({
C:\Users\user\AppData\Local\Temp\ipykernel_23488\2869010958.py:13: FutureWarning: Downcasting behavior in `replace` is deprecated and will be removed in a future version. To retain the old behavior, explicitly call `result.infer_objects(copy=False)`. To opt-in to the future behavior, set `pd.set_option('future.no_silent_downcasting', True)`
  df['application_type'] = df['application_type'].replace({

   verification_status  application_type
0                    1                 0
1                    1                 0
2                    0                 0
3                    1                 0
4                    1                 0

In [9]:
# Convert 'earliest_cr_line' to datetime
df['earliest_cr_line'] = pd.to_datetime(df['earliest_cr_line'], format='%b-%y', errors='coerce')
df['earliest_cr_line'] = df['earliest_cr_line'].dt.strftime('%m-%Y')



# Convert 'last_pymnt_d' to datetime
df['last_pymnt_d'] = pd.to_datetime(df['last_pymnt_d'], format='%b-%y', errors='coerce')
df['last_pymnt_d'] = df['last_pymnt_d'].dt.strftime('%m-%Y')


df[['earliest_cr_line','last_pymnt_d']].head()

  earliest_cr_line last_pymnt_d
0          01-1985      01-2015
1          04-1999      04-2013
2          11-2001      06-2014
3          02-1996      01-2015
4          01-1996      01-2016

In [10]:
# Count missing values per column
missing_counts = df.isna().sum()

# Show only columns that have at least one missing value
missing_columns = missing_counts[missing_counts > 0]
print(missing_columns)

emp_length           44825
delinq_2yrs             29
earliest_cr_line        29
open_acc                29
pub_rec                 29
total_acc               29
last_pymnt_d         17659
acc_now_delinq          29
tot_coll_amt         70276
tot_cur_bal          70276
open_acc_6m         866007
total_bal_il        866007
dtype: int64

In [11]:
cols_missing_29 = ['delinq_2yrs', 'earliest_cr_line', 'open_acc', 
                   'pub_rec', 'total_acc', 'acc_now_delinq']

df[df[cols_missing_29].isna().all(axis=1)].shape

df = df.dropna(subset=cols_missing_29, how='all').reset_index(drop=True)

# Confirm they’re gone
print(df[cols_missing_29].isna().sum())

delinq_2yrs         0
earliest_cr_line    0
open_acc            0
pub_rec             0
total_acc           0
acc_now_delinq      0
dtype: int64

In [12]:
# Count missing values per column
missing_counts = df.isna().sum()

# Show only columns that have at least one missing value
missing_columns = missing_counts[missing_counts > 0]
print(missing_columns)

emp_length       44825
last_pymnt_d     17659
tot_coll_amt     70247
tot_cur_bal      70247
open_acc_6m     865978
total_bal_il    865978
dtype: int64

In [13]:
# Drop the extremely sparse columns (96% + of data missing)
df.drop(columns=['open_acc_6m', 'total_bal_il'], inplace=True)

# Verify
print("Columns after dropping:", df.columns.tolist())

Columns after dropping: ['loan_amnt', 'member_id', 'funded_amnt', 'funded_amnt_inv', 'term', 'int_rate', 'installment', 'emp_length', 'home_ownership', 'verification_status', 'pymnt_plan', 'purpose', 'addr_state', 'dti', 'delinq_2yrs', 'earliest_cr_line', 'open_acc', 'pub_rec', 'total_acc', 'out_prncp', 'total_rec_int', 'total_rec_late_fee', 'last_pymnt_d', 'application_type', 'annual_inc_joint', 'acc_now_delinq', 'tot_coll_amt', 'tot_cur_bal', 'loan_status']

In [14]:
# Count missing values per column
missing_counts = df.isna().sum()

# Show only columns that have at least one missing value
missing_columns = missing_counts[missing_counts > 0]
print(missing_columns)

emp_length      44825
last_pymnt_d    17659
tot_coll_amt    70247
tot_cur_bal     70247
dtype: int64

In [15]:
df['emp_length'].fillna(df['emp_length'].median(), inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_23488\2347588619.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['emp_length'].fillna(df['emp_length'].median(), inplace=True)

In [16]:
# Count missing values per column
missing_counts = df.isna().sum()

# Show only columns that have at least one missing value
missing_columns = missing_counts[missing_counts > 0]
print(missing_columns)

last_pymnt_d    17659
tot_coll_amt    70247
tot_cur_bal     70247
dtype: int64

In [17]:
# Treat last_pymnt_d missing values as "Unknown"
df['last_pymnt_d'] = df['last_pymnt_d'].astype(str)  # ensure string type
df['last_pymnt_d'].fillna('Unknown', inplace=True)

C:\Users\user\AppData\Local\Temp\ipykernel_23488\3891824156.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['last_pymnt_d'].fillna('Unknown', inplace=True)

In [18]:
# Count missing values per column
missing_counts = df.isna().sum()

# Show only columns that have at least one missing value
missing_columns = missing_counts[missing_counts > 0]
print(missing_columns)

tot_coll_amt    70247
tot_cur_bal     70247
dtype: int64

In [19]:
# List of numeric columns to impute
numeric_cols = ['tot_coll_amt', 'tot_cur_bal']

for col in numeric_cols:
    df[col].fillna(df[col].median(), inplace=True)

# Optional: verify
print(df[numeric_cols].isna().sum())

tot_coll_amt    0
tot_cur_bal     0
dtype: int64

C:\Users\user\AppData\Local\Temp\ipykernel_23488\708264517.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[col].fillna(df[col].median(), inplace=True)

In [20]:
# Count missing values per column
missing_counts = df.isna().sum()

# Show only columns that have at least one missing value
missing_columns = missing_counts[missing_counts > 0]
print(missing_columns)

Series([], dtype: int64)

In [21]:


# Select numeric columns
numeric_cols = df.select_dtypes(include=['float64', 'int64']).columns

# Dictionary to store outlier bounds
outlier_bounds = {}

for col in numeric_cols:
    Q1 = df[col].quantile(0.25)
    Q3 = df[col].quantile(0.75)
    IQR = Q3 - Q1
    
    mild_lower = Q1 - 1.5 * IQR
    mild_upper = Q3 + 1.5 * IQR
    extreme_lower = Q1 - 3 * IQR
    extreme_upper = Q3 + 3 * IQR
    
    outlier_bounds[col] = {
        'mild_lower': mild_lower,
        'mild_upper': mild_upper,
        'extreme_lower': extreme_lower,
        'extreme_upper': extreme_upper,
        'num_mild_outliers': df[(df[col] < mild_lower) | (df[col] > mild_upper)].shape[0],
        'num_extreme_outliers': df[(df[col] < extreme_lower) | (df[col] > extreme_upper)].shape[0]
    }

# Convert to DataFrame for easy viewing
outliers_df = pd.DataFrame(outlier_bounds).T
print(outliers_df)

                       mild_lower    mild_upper  extreme_lower  extreme_upper  \
loan_amnt           -1.000000e+04  3.800000e+04  -2.800000e+04   5.600000e+04
member_id           -6.051348e+07  1.298624e+08  -1.319044e+08   2.012533e+08
funded_amnt         -1.000000e+04  3.800000e+04  -2.800000e+04   5.600000e+04
funded_amnt_inv     -1.000000e+04  3.800000e+04  -2.800000e+04   5.600000e+04
term                 0.000000e+00  9.600000e+01  -3.600000e+01   1.320000e+02
int_rate             6.750000e-01  2.551500e+01  -8.640000e+00   3.483000e+01
installment         -2.070750e+02  1.040405e+03  -6.748800e+02   1.508210e+03
emp_length          -7.500000e+00  2.050000e+01  -1.800000e+01   3.100000e+01
home_ownership      -3.000000e+00  5.000000e+00  -6.000000e+00   8.000000e+00
verification_status -1.500000e+00  2.500000e+00  -3.000000e+00   4.000000e+00
pymnt_plan           0.000000e+00  0.000000e+00   0.000000e+00   0.000000e+00
purpose             -2.500000e+00  9.500000e+00  -7.000000e+00   1.400000e+01
addr_state          -2.150000e+01  4.650000e+01  -4.700000e+01   7.200000e+01
dti                 -6.150000e+00  4.201000e+01  -2.421000e+01   6.007000e+01
delinq_2yrs          0.000000e+00  0.000000e+00   0.000000e+00   0.000000e+00
open_acc            -1.000000e+00  2.300000e+01  -1.000000e+01   3.200000e+01
pub_rec              0.000000e+00  0.000000e+00   0.000000e+00   0.000000e+00
total_acc           -5.500000e+00  5.450000e+01  -2.800000e+01   7.700000e+01
out_prncp           -2.048985e+04  3.414975e+04  -4.097970e+04   5.463960e+04
total_rec_int       -2.253876e+03  4.933714e+03  -4.949222e+03   7.629060e+03
total_rec_late_fee   0.000000e+00  0.000000e+00   0.000000e+00   0.000000e+00
application_type     0.000000e+00  0.000000e+00   0.000000e+00   0.000000e+00
annual_inc_joint     0.000000e+00  0.000000e+00   0.000000e+00   0.000000e+00
acc_now_delinq       0.000000e+00  0.000000e+00   0.000000e+00   0.000000e+00
tot_coll_amt         0.000000e+00  0.000000e+00   0.000000e+00   0.000000e+00
tot_cur_bal         -2.130895e+05  4.411365e+05  -4.584242e+05   6.864712e+05

                     num_mild_outliers  num_extreme_outliers
loan_amnt                          0.0                   0.0
member_id                          0.0                   0.0
funded_amnt                        0.0                   0.0
funded_amnt_inv                    0.0                   0.0
term                               0.0                   0.0
int_rate                        6308.0                   0.0
installment                    23152.0                   0.0
emp_length                         0.0                   0.0
home_ownership                     0.0                   0.0
verification_status                0.0                   0.0
pymnt_plan                        10.0                  10.0
purpose                         9441.0                   0.0
addr_state                     14805.0                   0.0
dti                               81.0                  29.0
delinq_2yrs                   170389.0              170389.0
open_acc                       27478.0                3494.0
pub_rec                       135778.0              135778.0
total_acc                      18232.0                 893.0
out_prncp                       3363.0                   0.0
total_rec_int                  63831.0               23465.0
total_rec_late_fee             12513.0               12513.0
application_type                 511.0                 511.0
annual_inc_joint                 511.0                 511.0
acc_now_delinq                  4114.0                4114.0
tot_coll_amt                  116157.0              116157.0
tot_cur_bal                    35903.0                6963.0